html, body
    height 100%
    width 100%

body
    -webkit-app-region drag
    cursor default
    background #191919
    user-select none

body, input, textarea, button
    font-family "Rounded Mplus 1c"

input, textarea, button
    background none
    border none
    margin 0
    outline none
    padding 0

h1, h2, h3, h4, h5, h6
    font-size 100%
    font-weight normal