[data-is=app-index]
    align-items center
    background $theme
    box-sizing border-box
    display flex
    height 100%
    justify-content center
    width 100%
    .brand-logo
        color #fff
        display flex
        text-align center
        font-size 30px
        font-weight 400
        .logo-black
            font-weight 600
            color #000