[data-is=app-search]
    background #fafafa
    display block
    min-height 100%
    padding 42px 0 0
    width 100%
    a
        border-bottom 1px solid #ccc
        display flex
        padding 12px 4px
        width 100%
    .thumbnail
        background no-repeat center center
        background-size cover
        height 90px
        width 160px
    .contents
        flex 1